* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root { 
    --body-color: rgb(47, 55, 59);
    --sombra-card: 6px 0px 25px 0px rgba(0, 0, 0, 1);
    --shop-color: rgba(197,177,153);
}

/* SECTION TOP */
body { 
    font-family: 'Oswald', sans-serif;
    background-color: var(--body-color);
}

.top { 
    width: 90%;
    margin: auto;
    background-image: url('../img/img-index.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
}

.img-logo{ 
    max-width: 10rem;
}

nav {
    width: 80%;
    padding: 2rem 0; 
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;   
    position: relative;
}

nav a { 
    color: #fff;
    text-decoration: none;
    margin-left: 5rem;
}

nav a:hover { 
    text-decoration: underline;
}

.top-texto { 
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    font-weight: 200;
    width: 80%;
    height: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
}

.top-texto span { 
    font-size: 4rem;
    letter-spacing: 0.3rem;
    font-weight: bold;
}

#contenedor-clima { 
    width: 100%;
    margin-bottom: 1px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 0.6rem;
}

#caja { 
    margin: 0 2rem;
}

/* SECTION PRODUCTOS */
.body { 
    width: 90%;
    margin: auto;
    box-shadow: var(--sombra-card);
    padding: 4rem 0;
}

.productos_buscar {
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem 3rem;
    margin: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.productos_buscar input { 
    width: 500px;
    padding: 0.3rem 0;
    margin: 0 0.2rem; 
}

.productos_buscar i { 
    cursor: pointer;
}



.body_productos { 
    display: grid;
    grid-template-columns: 10% 90%;
    margin-top: 3rem;
}

.titulo{ 
    text-transform: uppercase;
    padding-top: 5rem;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.3rem;
    font-weight: 100;
    color: #fff;
    /* text-shadow: 3px  0px 0px black,
    0px  3px 0px black,
   -3px  0px 0px black,
    0px -3px 0px black; */

}

.filtro { 
    margin-left: 1rem;
    margin-top: 10rem;
}

.filtro select { 
    padding: 0.5rem;
    margin: 1rem 0;
}

.filtro form div { 
    display: block;
    margin: 1rem 0;
}

.filtro form div input { 
    margin-right: 0.3rem;
}




/* CONTENEDOR PRODUCTOS */
.contenedor_productos { 
    margin-bottom: 5rem;
}

#contenedor_productos-productos { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.card { 
    background-color: #fff;
    margin: 1.2rem;
    padding: 1.5rem 2rem ;
    box-shadow: var(--sombra-card);
    text-align: center;
    position: relative;
}

.card h3 { 
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.card h4 { 
    font-weight: 200;
    font-size: 1.2rem;
}

.img-card { 
    max-width: 12rem;
}

.btn {
    color: #000;    
    text-decoration: none;
    background-color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px; 
    cursor: pointer;
    text-transform: uppercase;
    margin: 0.5rem 0;
}

.btn--black {
    color: #fff;   
    background-color: #000;
    font-size: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px; 
    cursor: pointer;
    text-transform: uppercase;
}


/* CARRITO COMPRAS */
.cart-iconos { 
    display: flex;
    justify-content: space-between;
    position: relative;
}

#cart { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
}

.cart-contador { 
    position: relative;
}

#cart i { 
    font-size: 2rem;
}

#contador-cart { 
    position: absolute;
    bottom: 20px;
    left: 18px;
    padding: 2px 10px;
    margin-right: 1rem;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 200;
}

#btnFinalizar { 
    margin-left: 0.5rem;
    display: none;
}

#container-cart { 
    font-weight: 100;
    z-index: 500;
    position: absolute;
    top: 80%;
    right: 0;
    background-color: #fff;
    padding: 2rem 5rem;
    box-shadow: var(--sombra-card);
}

#container-cart h4 {
    padding: 0 2rem; 
}

.none { 
    display: none;
}

.block { 
    display: block;
}

.btn-cart {
    color: #fff;    
    text-decoration: none;
    background-color: #000;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px; 
    cursor: pointer;
    margin: 1rem;
}

.img-cart { 
    max-width: 5rem;
    margin-right: 2rem;
}

.div-cart { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.5rem 0;
}

footer { 
    color: #fff;
    font-weight: 200;
    width: 100%;
    margin: auto;
    
    background-color: rgba(0, 0, 0, 0.685);
    text-align: end;
}


.contenedor_footer { 
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.footer-map div { 
    display: flex;
    align-items: center;
}

.footer-map div p { 
    margin-right: 0.5rem;
    padding: 0.5rem 0;
}


.footer-map a { 
    color: #fff;
}

.footer-redes { 
    text-align: center;
}

.footer-redes p { 
    padding: 0.3rem 0;
}

.footer-redes i { 
    padding: 0 0.5rem;
}

.copyrigth { 
    width: 90%;
    margin: auto;
    text-align: center;
    color: #fff;
    font-family: 'Sen', cursive;
}



.comercio { 
    width: 90%;
    margin: auto;
    padding: 1.5rem 0;
    margin-top: 10rem;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgba(197,177,153);
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 4px solid var(--shop-color);
}

.comercio p:nth-child(2) { 
    border-left: 4px solid var(--shop-color);
    border-right: 4px solid var(--shop-color);
    color: rgba(197,177,153);
}

/* SECTION MARCAS */
.marcas {
    margin-top: 2rem;
    padding: 5rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to top, rgba(197, 177, 153, 0.8), rgba(197, 177, 153, 0.5)), url("../img/marcas/fondo.jpg");
    border-top: 0.1px solid rgba(204, 198, 198, 0.4);
    box-shadow: 0px 1px 4px 2px #000;
    border-bottom: 3px solid #000;
  }
  
  .marcas img {
    max-width: 10rem;
    padding: 0 0.5rem;
    animation: slider 30s linear infinite;
  }
  
  /*Animacion section marcas */
  @keyframes slider {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-250px);
    }
  }





/* MEDIA QUERIES*/
@media screen and (max-width: 900px) {
    .top { 
        background-position: right;
    }

    .comercio { 
        font-size: 0.8rem;
        border: 0;
    }

    .productos_buscar input { 
        width: 200px;
    }

    .body_productos { 
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .titulo { 
        padding-top: 1rem;
        font-size: 2rem;
        flex-wrap: wrap;
    }

    .filtro { 
        margin: 0;
    }

    .marcas img { 
        max-width: 7rem;
    }
}

@media screen and (max-width: 580px) {
    nav { 
        flex-wrap: wrap;
    }

    nav a { 
        margin-left: 1.5rem;
    }

    h1 { 
        width: 30%;
        font-size: 1.8rem;
    }

    h1 span { 
        font-size: 2rem;
    }

    .body { 
        padding: 2rem 0 ;
    }

    .productos_buscar { 
        padding: 0;
        background-color: var(--body-color);
        flex-direction: column;
    }

    .titulo { 
        font-size: 1.8rem;
        flex-wrap: wrap;
    }

    .buscador { 
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        margin-bottom: 2rem;
    }

    .productos_buscar input { 
        border: 0px;
        width: 100px;
    }

    .contenedor_productos { 
        margin-bottom: 0.5rem;
    }

    #contador-cart { 
        left: 12px;
        font-size: 0.5rem;
        padding: 2px 8px;
    }

    .cart-iconos { 
        width: 100%;
        justify-content: end;
     }

    .card { 
        margin: 0.5rem;
        padding: 1rem;
    }

    .card img { 
        max-width: 8rem;
    }

    .card h3 { 
        font-size: 1.2rem;
    }

    .card h4 { 
        font-size: 1rem;
    }

    #container-cart { 
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        padding: 0.8rem;
        padding-right: 0.8rem;
        box-shadow: var(--sombra-card);
        font-size: 0.8rem;
    }

    #container-cart h4 { 
        padding: 0 0.3rem;
    }

    .img-cart { 
        max-width: 3.5rem;
        margin-right: 0.5rem;
    }
}
